<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Obrigado pelo seu voto!</title>


</head>

<body>
  <div class="container">
    <div class="bg-circles">
      <div id="circle-1"></div>
      <div id="circle-2"></div>
      <div id="circle-3"></div>
    </div>
    <h1 id="title">
      <img src="assets/preta.png" alt="">
    </h1>
    <p class="conf-text">
      Seu voto foi computado com sucesso em nossos computadores e em breve divulgaremos o resultado final dessa
      votação.
    </p>

    <button id="btn-continue">Até a próxima</button>
  </div>
</body>

</html>
