 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .container {
   width: 440px;
   height: 480px;
   padding: 2rem;
   border-radius: 20px;
   border-style: solid;
   border-width: 2px;
   border-color: rgb(0, 149, 255);
   position: relative;
   overflow: hidden;
   background-color: #F8F9FD;
 }

 .bg-circles div {
   aspect-ratio: 1/1;
   background-color: rgb(19, 128, 253);
   border-radius: 50%;
   position: absolute;
 }

 #circle-1 {
   width: 70%;
   left: -20%;
   top: -35%;
   opacity: 0.5;
 }

 #circle-2 {
   width: 120%;
   left: -20%;
   top: -80%;
   opacity: 0.4;
 }

 #circle-3 {
   width: 120%;
   left: 20%;
   top: -80%;
   opacity: 0.4;
 }

 #title {
   margin-top: 35%;
   text-align: center;
   font-size: 1.6rem;
   color: #1b1b1b;
   animation: breathing 3s linear infinite;
 }

 img {
   width: 100%;
 }

 @keyframes breathing {

   0%,
   100% {
     -webkit-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
   }

   25% {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }

   60% {
     -webkit-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
   }
 }

 .conf-text {
   margin-top: 1.5rem;
   line-height: 130%;
   text-align: center;
   color: #606060
 }

 #btn-continue {
   width: 100%;
   height: 2.5rem;
   margin-top: 3rem;
   font-size: 1.2rem;
   color: #fff;
   border: none;
   border-radius: 8px;
   transition: 0.5s;
   background-color: rgb(3, 99, 183);
   box-shadow: 0 5px 20px rgba(1, 19, 160, 0.499);
 }

 #btn-continue:hover {
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
 }
