<div class="alert alert-danger mt-3" role="alert" *ngIf="erro">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
    class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
  </svg>
  {{ erro }}
</div>
<div class="alert alert-success mt-3" role="alert" *ngIf="dados">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill"
    viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </svg>
  Dados recebidos com sucesso!
</div>

<main class="form-signin w-100 m-auto">
  <form (ngSubmit)="onSubmit()">
    <img src="/assets/preta.png" class="py-xl-4 mb-xl-4" alt="Secretria de Saude do Maranhão" width="100%">

    <div class="form-floating">
      <input name="cpf" type="text" class="form-control cpf" data-mask="000.000.000-00" id="cpf" placeholder="cpf"
        [(ngModel)]="cpf" required>
      <label for="cpf">CPF</label>
    </div>
    <div class="form-floating">
      <input name="DataNascimento" type="text" class="form-control data" id="data" data-mask="00/00/0000"
        placeholder="Data de nascimento" [(ngModel)]="dataNascimento" required>
      <label for="data">Data de nascimento</label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2">ENTRAR</button>

    <!-- Mensagens de feedback -->
    <div class="alert alert-warning mt-3" role="alert" *ngIf="carregando">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-dash"
        viewBox="0 0 16 16">
        <path
          d="M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1z" />
        <path
          d="M3.146 5.146a.5.5 0 0 1 .708 0L5.177 6.47a.75.75 0 0 1 0 1.06L3.854 8.854a.5.5 0 1 1-.708-.708L4.293 7 3.146 5.854a.5.5 0 0 1 0-.708M5.5 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-5.5 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5" />
      </svg>
      Carregando dados...
    </div>

    <p class="mt-5 mb-3 text-body-secondary text-center">SESMA&copy; 2024–2024</p>
  </form>

</main>
