<div class="card glass-effect my-5 py-5 p-5 shadow-sm p-3 mb-5 rounded">
  <h1><strong>Vote no seu Candidato</strong></h1>
  <ul class="list-group-flush" id="enquete">
    <div class="mb-5"></div>

    <li class="list-group-item" *ngFor="let almere of almere; let i = index">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="opcao" [id]="'opcao' + i">
        <label class="form-check-label" [for]="'opcao' + i">
          <span>{{ almere.nome }}</span>
        </label>
      </div>
    </li>

    <div class="d-grid gap-2 col-sm-12">
      <button class="btn btn-lg btn-primary mt-5" type="submit" value="Submit" onclick="alerta()">Votar</button>
    </div>
  </ul>
</div>