body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  place-content: center;
}

.glass-effect {
  background: rgba(233, 233, 233, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(192, 192, 192, 0.84);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}
